---
layout: default
---

<!-- Don't show pagination bar in homepage -->
{% if paginator.page > 1 %}

	<!-- Include pagination bar -->
	{% include pagination.html section="top" %}

{% endif %}

<!-- Loop for posts by paginator -->
{% for post in paginator.posts %}

	<!-- Article -->
	<article>

		<!-- Article title -->
		<a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>

			<!-- If article has a cover photo -->
			{% if post.coverPhoto %}

				<!-- Article image with aspect ratio -->
				<a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
					<span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
				</a><!-- .ar-container -->

			{% endif %}

		<!-- Article pre description -->
    <section class="max-height">{{ post.description }}</section>

		<!-- Article date & article continue reading button container -->
		<div class="article__bottom">

			<!-- Article date -->
			<span class="article__date">
        {{ post.date | date: "%-d" }} tháng {{ post.date | date: "%-m" }}, {{ post.date | date: "%Y" }}
			</span>

			<!-- Article continue reading button -->
			<a class="article__button" href="{{ site.baseurl }}{{ post.url }}">Đọc thêm</a>

		</div><!-- .article__bottom -->

	</article><!-- article -->

{% endfor %}

<!-- Include pagination bar -->
{% include pagination.html section="bottom" %}
