---
layout: page
title: Blog Lập Trình Cùng Ethan
tagline: "Chia sẻ các kinh nghiệm lập trình iOS & Web hiệu quả"
---

{% for post in paginator.posts %}
  <article class="home">
    {% include post_date.html date=post.date %}
    
    <h2>
      <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
    </h2>

    <div>
      {% if post.fullview %}
        {{ post.content }}
      {% elsif post.shortinfo %}
        {{ post.shortinfo }}
      {% elsif post.description %}
        {{ post.description }}
      {% else %}
        {{ post.excerpt }}
      {% endif %}
    </div>
  </article>
{% endfor %}

<hr />

<ul class="pager"> 
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.BASE_PATH }}/">&larr; Mới hơn</a>
      {% else %}
        <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">
          &larr; Mới hơn
        </a>
      {% endif %}
    </li>
  {% else %}
    <li class="previous disabled">
      <a>&larr; Mới hơn</a>
    </li>
  {% endif %}
  
  <li>
    <span class="page_number">Trang: {{ paginator.page }}/{{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">
        Cũ hơn &rarr;
      </a>
    </li>
  {% else %}
    <li class="next disabled">
      <a>Cũ hơn &rarr;</a>        
    </li>
  {% endif %}
</ul>
