<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% unless page.date %}
    <meta property="og:type" content="website" />
  {% endunless %}

  {% seo %}
  <!-- Google+ author meta -->
  <link rel="author" href="https://plus.google.com/+ThanhNguyen605"/>

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="alternate" hreflang="vi" href="http://dev.ethanify.me" />
  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site.name }}"
        href="{{ site.BASE_PATH }}/feed.xml" />

  <!-- Le styles -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" />
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/style.css" />
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/custom.css" />

  <script type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ site.BASE_PATH }}/assets/ico/favicon.png" />
  <link rel="apple-touch-icon" href="{{ site.BASE_PATH }}/assets/ico/apple-touch-icon.png" />
  <link rel="apple-touch-icon"
        href="{{ site.BASE_PATH }}/assets/ico/apple-touch-icon-72x72.png"
        sizes="72x72" />
  <link rel="apple-touch-icon"
        href="{{ site.BASE_PATH }}/assets/ico/apple-touch-icon-114x114.png"
        sizes="114x114" />
</head>

<body>
  <nav class="navbar navbar-default visible-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      {% if site.author.linkedin %}
        <a type="button" class="navbar-toggle nav-link" href="https://linkedin.com/in/{{ site.author.linkedin }}">
          <i class="fa fa-linkedin"></i>
        </a>
      {% endif %}

      {% if site.author.twitter %}
        <a type="button" class="navbar-toggle nav-link" href="http://twitter.com/{{ site.author.twitter }}">
          <i class="fa fa-twitter"></i>
        </a>
      {% endif %}

      {% if site.author.github %}
        <a type="button" class="navbar-toggle nav-link" href="http://github.com/{{ site.author.github }}">
          <i class="fa fa-github"></i>
        </a>
      {% endif %}
      
      <a class="navbar-brand" href="{{ site.BASE_PATH }}/">
        <img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ site.BASE_PATH }}/">Trang chủ</a></li>
        <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}">Thư mục</a></li>
        <li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}">Tags</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <!-- nav-menu-dropdown -->
  <div class="btn-group hidden-xs" id="nav-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{ site.BASE_PATH}}/"><i class="fa fa-home"></i>Trang chủ</a></li>
      <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-folder"></i>Thư mục</a></li>
      <li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><i class="fa fa-tags"></i>Tags</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="fa fa-arrow-up"></i>Lên đầu trang</a></li>
    </ul>
  </div>

  <div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat center center !important;{% endif %}">
    {% include sidebar.html %}
  </div>

  <div class="col-sm-9 col-sm-offset-3">
    {{ content }}

    <footer>
      <hr/>
      <p>
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with <a href="http://jekyllrb.com/">Jekyll</a>. Theme: <a href="https://github.com/dbtek/dbyll">dbyll</a> by dbtek.
      </p>
    </footer>
  </div>
</body>
</html>
