// @import "mixins";
// @import "variables";
// @import "reset";
// @import "style";
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab&subset=latin,latin-ext);

figure {
  text-align: center;
  margin-top: 20px;
  
  img {
    max-width: 100%;
  }

  figcaption {
    margin-top: -20px;
  }

  figcaption, figcaption * {
    font-style: italic;
    font-size: 15px !important;
  }
}
