/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

.sidebar-header .title {
  text-transform: capitalize;
}

#bio {
  font-family: "Monaco", "Lucida Console", monospace;
}

.page-header {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, .6);
}

h1,h2,h3,h4,h5,h6 { font-family: 'Calibri', 'Helvetica Neue', 'San Francisco', Helvetica, sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
  font-family: 'Calibri', 'Helvetica Neue', 'San Francisco', Helvetica, sans-serif;
  color: #f2756a;
}

footer {
  font-family: 'Calibri', 'Helvetica Neue', 'San Francisco', Helvetica;
}

section.share {
  width: 100%;
}

section.share div {
  float: left;
}

section.share div.share-buttons {
  line-height: 2.7em;
  margin-left: 10px;
}